/*
	Stylesheet für LivingLines Plugin eingeführt mit Version 3.0.4 für alle Styles dieses PlugIns
	Es gibt die Möglichkeit dieses Stylesheet im Settingsverzeichnis ../uploads/ll_crm/ll_crm_styles.css indiv. zu übersteuern.
	Es gibt für OpenOlitor noch ein ll_crm_template.css das direkt vor dem Rendering in ll_crm_functions geladen wird.

	Hier sollte mal Ordnung gemacht werden!
*/
/*********** AdminSeite *******/
.ll_table td {
	padding: 0 10px 0 0;
}
.ll-tools h2 { 
	border-bottom:solid silver; 
}


/******* Newsletterliste *****
/* Newsletter Liste */
.ll_mail_line {
	height:40px;
	border-bottom:1px solid;
	line-height:30px;
}
.ll_mail_line_link {
	font-size:20px;
	display:inline-block;
}
.ll_mail_line_date {
	text-align:right;
	float:right;
}

/****** Widget ***
 neu für den Widgettable
*/
.map_area #ll-map-widget {
	display:block;
	position:absolute;
	top:8px; 
	right:0; 
	padding:0; 
	z-index:2000; 
	min-width: 200px;
	max-width: 50%;
}

.list_area .widget,
.map_area .widget {
  padding: 5px 10px;
}

.list_area .widget button,
.map_area .widget button{
  margin: 2px;
}


.list_area #ll-map-widget {
	float:right;
	min-width: 200px;
	max-width: 50%;
}

#mapInfo,
#ll-map-widget #sidebar .widgets {
	background-color: rgba(255, 255, 255, 0.6);	
}

#mapInfo {
	margin-right:0;
	font-size:smaller;
}

#ll-map-widget-header {
	padding: 1em;
	background-color: rgba(255, 255, 255, 0.6);	
	width: 100%;
	cursor:pointer;
}

#map-section, #map-standard {
	background: lightblue;
	cursor:pointer;	
	opacity: 1;
} 

#ll-map-widget-header #map-standard,
#ll-map-widget-header #map-section{
	background: white;
} 

#map-text {
	font-size:smaller !important;
	margin-top:1em;
	margin-bottom:0;
}

#ll-map-widget-header #map-text{
	text-align:center;
}


#listrow #map-text {
	display:none
}
/*
#ll-map-widget #sidebar {
	display:none;
}
*/
.LL_Map_WidgetPrint,
.LL_Map_WidgetSelect,
.ll_crm_select {
	display:none;
}
#ll-map-select-icon:before {
    content: "\f0c9";
/*    content: "\f02f    \f0c9";*/
    font-family: FontAwesome;
    font-style: normal;
    font-weight: bolder;
    text-decoration: inherit;
/*--adjust as necessary--*/
    color: #fff;
    font-size: 35px;
    padding-right: 0.5em;
    position: absolute;
    top: 10px;
    right: 0;
	z-index:498;
}

.ll-option-icon:before {
    content: "\f0da";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: bolder;
    text-decoration: inherit;
/*--adjust as necessary--*/
    padding-right: 0.5em;
}

.ll-option-icon-open:before {
    content: "\f0d7";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: bolder;
    text-decoration: inherit;
/*--adjust as necessary--*/
    padding-right: 0.5em;
}

/*#ll-map-widget-header:after { */
#ll-map-print-icon:before {
	  content: "\f02f";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: bolder;
    text-decoration: inherit;
/*--adjust as necessary--*/
    color: #fff; 
    font-size: 20px;
    padding-right: 0.5em;
    position: absolute;
    top: 17px;
    right: 50px;
	z-index:499;
}

.ll_crm_print {
	display:none;
}

.ll-widget-table {
	width:unset; 
	margin-bottom:0px;
}

.ll-widget-table-group-header {
	text-align:center;
}

.ll-widget-table-cell{
	padding:0;
}

.ll-widget-input {
	margin:0;
}

#Map-Print .ll-widget-input {
	margin:0;
	margin-left:20px;
}

.ll-widget-button {
	text-align:center;
}

.ll-submit-button {
	padding:0.0625rem 2.2rem 0.2rem; 
	margin:0;
}

/* Karte neu*/
.projektinfos-pos {
	font-size:smaller;
	line-height:1;
/*	max-width:100px; */
	padding-top:4px;
}

/* alt */

.ll-map-infobox-subpoints{
	background: lightblue;
	cursor:pointer;
}

.ll-map-infobox-subpoints:before {
    content: "\f0c9";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: bolder;
    text-decoration: inherit;
/*--adjust as necessary--*/
    font-size: 10px;
    padding-right: 0.5em;
}


.ll-div-icon {
	font-size: 18px;
	font-weight:bold;
/*	color:red; */
	margin-top:-14px !important;
	margin-left:-11px !important;
	word-wrap:normal;
}

/* template-mappa */
.map {
	display:block; 
	height:700px; 
	margin-bottom:30px
}
/* Dies Ausnahme ist für die Anzeige im Admin */
.column-map {
	height:unset;
}

/*MAP*/
.map_area {
	position:relative;
}

.list_area h3,
.map_area h3 {
	margin:0;
}

#ll-project-header {
	position:relative;
	overflow:hidden;
}


#ll-project-header .map_area {
	position:unset;
}



#ll-project-header,
#ll-project{
	height:300px; 
}

.ll-project-head img {
	position:absolute; 
	bottom:-50%;
}

.map-project {
	position: absolute; 
	width: 460px; 
	top: 0px; 
	right: 0; 
	bottom: 0;	
}


.map-over .post_info_wrap {
	padding:10px;
    border: 1px solid rgb(213, 213, 213);
	background-color: rgba(255, 255, 255, 0.2);
	
}

#ll-caption{
	bottom:8px; 
	right:0; 
	padding:0; 
	z-index:500;
}

.row {
	/*unklar ob es Seiteneffekte gibt, dann Klasse ändern!*/
	position:relative;
}
.ll-search-button {
	display:none;
}

#listrow #mapInfo {
	width:100%;
	margin-right:0;
}

#listrow #sidebar {
	margin-right:0;
	border-left:none;
	display:block;
}

#listrow #sidebar .widgets .widget_wrap {
	padding:0;
}

#listrow #ll-map-widget {
	right:0; 
	padding:0; 
	float:right; 
	position:inherit;
	width:285px;
}

@media only screen and (max-width: 768px), print {
	.map-project {
		width: 260px; 
	}
	#ll-project-header,
	#ll-project {
		height:260px; 
	}
	.map-over {
		margin-left: auto;
	}
}

@media only screen and (max-width: 480px) {
	#ll-map-widget-header:before {
		font-size:14px;
	}

	#ll-map-widget #sidebar {
		margin:0;
		width:100%;
	}

	#sidebar .widgets .ll_crm_select{
		width:100%;		
	}

	.map-over .post_info_wrap {
		padding:5px;
	}

	.map-project {
		display:none;
	}
	#ll-project-header,
	#ll-project{
		height:160px; 
	}
	.ll-search-button {
		display:block;
		position: absolute;
		top: 8px;
		right: 0;
		height: 50px;
		z-index: 600;
		background-color: #26ae90;
		padding: 18px 10px;
	}
	.ll-search-button a{
		color:white !important;
	}
	
	#map-text, #map-result {
	    font-size: 8px !important;
	    padding: 1px;
	    line-height: 10px !important;
	}
}
/* ll-crm Link-Liste */
#ll-display-name {
	font-size:16px;
	font-weight:bold;
}

#ll-img-display-name {
	display:none;
}
.ll-td-img {
	width:110px;
}
.ll-td-name {
	width:25%;
}

@media only screen and (max-width: 480px) {
	#ll-display-name {
		text-align:center;
		font-size:12px;
		font-weight:bold;
	}
	.ll-table img {
		display:none;
	}
	#ll-img-display-name {
		display:inherit;
	}
	#ll-display-desc {
		font-size:12px;
	}
	.ll-td-img {
		width:0;
	}
	
}

/* Projektliste (.project_box) und MapListe (.list_area)*/
.list_area .LL_Map_WidgetSelect {
	display:block;
}

.list_area #mapInfo,
.list_area #ll-map-select-icon {
	display:none;
}
.ll_list_box {
	float:left;
	width:72%;
	padding-bottom:30px;
}

.ll_list_line_box {
/*	width:50%;
	float:left;
*/  width:100%;
	padding-bottom:20px;	
}

.ll_list_header_box {
	width:100%;
	float:left;
}
.ll_list_header {
	height: 50px;
	text-align: center;
	line-height: 45px;
	background: #f0f0f0;	
}
.ll_list_header_group {
	color: #d62c7e;
}
.ll_list_header_item {
	
}

.ll_list_title {
	font-size:16px;
/*	margin-left:100px; wieso?*/
}

.ll_list_line {
	padding-bottom: 20px;
	display:block;
	overflow:auto;
	position:relative;
}

.ll_list_2_column {
	width: 50%;
	float:left;
	padding-bottom: 2px;
	padding-right: 12px;
}

.ll_list_line_content {
	padding-top: 20px;
   border-top-width: thin;
   border-top-color: black;
   border-top-style: outset;
}

.ll_list_foto,
.ll_list_foto_2,
.ll_list_video {
	float:right;
}

.project_box .ll_list_foto_2 img,
.project_box .ll_list_foto img {
	max-width:300px;
	max-height:300px;
	float:right;
/*	margin-right: -230px; */
}
.ll_list_foto_2 img {
	margin-left:10px;
}

.list_area .ll_list_foto_2 img,
.list_area .ll_list_foto img {
	max-width:100px;
	max-height:100px;
	float:right;
}


.ll_list_text {
	font-size:12px;
	margin-left:100px;
}
.ll_list_date {
    text-align: right;
    padding-top: 20px;
    font-size: 13px !important;	
}


/* #### Uklar, wo ll_list wirkt? Projektseite von bleu??*/
.ll_list .ll_list_box {
	font-size:20px;
	margin-right: 0px;	
}

.ll_list .ll_list_line_content {
	margin-right:0;
}

.ll_list .ll_list_foto {
	float:left;
	margin-right: 20px;
	min-width: 100px;
	min-height: 70px;		
}

.ll_list .ll_list_foto img {
	max-width:100px;
	max-height:70px;
}

.ll_list .ll_list_line_content {
	padding-top: 2px;
}
.ll_list .ll_list_line {
	width: 50%;
	float:left;
	padding-bottom: 2px;
	padding-right: 12px;
}


@media only screen and (max-width: 768px), print {
	.ll_list {
		width:60%;
	}

	.ll_list_foto {
		float:unset;
		margin-right: 0;
		text-align:center;		
	}
	.ll_list_text {
		float:unset;	
		width:100%;
	}
	.ll_list_title {
		font-size:14px;
	}
	
	.ll_list_box {
		font-size:14px;
	}

	.ll_list_line_box {
		width:100%;
	}

	.ll_list_header {
		height: 35px;
		line-height: 35px;
		font-size: 16px;
	}

}
@media only screen and (max-width: 480px) {
	.ll_list {
		width:100%;
	}
	.ll_list_header {
		height: 30px;
		line-height: 30px;
		font-size: 15px;
	}
	
	.ll_list_foto img {
		max-width:100%;
	}
	
	.ll_list_box {
		font-size:12px;
	}
	.ll_list_title {
		font-size:13px;
	}

	.ll_list_date {
	    padding-top: 10px;
	    font-size: 8px !important;	
	}

}


/* Projektseite */
.project_box {
	font-size:20px;
	padding-top: 40px;
/*	margin-right: -230px;	*/
}

.project_line {
	padding-bottom: 20px;
	display:block;
	overflow:auto;
}

.project_line_content {
	padding-top: 20px;
   border-top-width: thin;
   border-top-color: black;
   border-top-style: outset;
/*   margin-right: 230px; */
}

.project_title {
	float:left; 
	width:20%;
	padding-right:30px;
}

.project_text {
	float:left;	
	width:50%;
}
.project_text_2 {
	float:left;	
	width:80%;
}

.project_foto, 
.project_foto, 
.project_video {
	float:right;
/*	margin-right: -230px; */
}


.project_foto img {
	max-width:300px;
	max-height:300px;
	float:right;
}

.project_type {
	font-size:small !important;
}


@media only screen and (max-width: 768px), print {
	.project_foto {
		float:unset;
		margin-right: 0;
		text-align:center;		
	}
	.project_box {
		font-size:14px;
	}

}
@media only screen and (max-width: 480px) {
	.project_foto img {
		max-width:100%;
	}
	.project_box {
		font-size:12px;
	}
	
}

