/*
	Stylesheet für LivingLines Plugin eingeführt für OpenOlitor
*/

/* Teamboxes */

.team-box {
	display: inline-block;
	margin-right: -4px;
	margin-bottom: 25px;
	vertical-align: top;
	width: 25%;
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
}

.team-member {
	overflow: hidden;
	position: relative;
	margin-bottom: 35px;
	border-radius: 4px;	
	text-align: center;
}

.team-member h3 {
	position: relative;
	margin-top: 15px;
	color: #404040;
	font-size: 17px;
	font-weight: 700;
	text-transform: uppercase;
}

.red-border-bottom::before {
    position: absolute;
    z-index: 1;
    bottom: -9px;
    left: 12.5%;
    width: 75%;
    height: 2px;
    margin: auto;
    background: #e96656;
    content: "";
}

.team-member .member-details {
    display: inline-block;
    position: relative;
    padding-bottom: 5px;
}

.team-member .position {
    font-size: 13px;
}

.team-member .social-icons {
    margin-bottom: 25px;
}

.team-member .profile-pic {
    border-radius: 0;
/*    width: 255px;
    height: 255px;
*/    overflow: hidden;
    margin: auto;
    margin-bottom: 25px;
}

.team-member .profile-pic img {
    width: 150px;
    height: 150px;
}

.team-member .social-icons ul {
    margin: 0 0 1.5em 0;
    list-style: disc;
}

.team-member .details {
    position: absolute;
    top: -200px;
    left: 0;
    width: 100%;
    height: 190px;
    padding: 15px;
    opacity: 0;
    font-size: 13px;
    line-height: 20px;
    text-align: left;
    -webkit-transition: all 500ms;
    transition: all 500ms;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
}

.team-member:hover .details, .team-member:focus .details {
    top: 0;
    opacity: 1;
    color: white;
    background: #333;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
}


.team-member:hover .details {
    top: 0px;
    background: #FD0 none repeat scroll 0% 0%;
    color: #000;
    opacity: 0.8;
    min-height: 255px;
    text-align: center;
}

figure {
    margin: 0;
    display: block;
}
