/*
	Stylesheet für LL Print Map eingeführt mit Version 3.0.9 für alle Styles dieses PlugIns
	Es gibt die Möglichkeit dieses Stylesheet im Settingsverzeichnis ../uploads/ll_crm/ll_crm_styles.css indiv. zu übersteuern.
*/
html {
	margin:0 !important;
}

#branding, #footer, #copyright, #wpadminbar, #sidr-left {
	display:none;
}

.map{
	height:100%;
}

.print_A4 {
	width:294mm;
	height:210mm;
}

.print_A3 {
	width:420mm;
	height:294mm;	
}

.print_A2 {
	width:594mm;
	height:420mm;
}

.print_A1 {
	width:841mm;
	height:594mm;
}

.print_map {
	float:left;
	height:95%;
	width:75%;
}

.print_A4 .print_map,
.print_A3 .print_map {
	width:70%;
}

#site-title {
	font-size:40px !important;
	padding:20px !important;
	width:100%;
}

.desc {
	font-size:18px !important;
	padding-top: 8px !important;
}

#site-title img {
	float:right;
	height:65px !important;
}

.print_A2 #site-title {
	font-size:30px !important;
}

.print_A3 #site-title {
	font-size:22px !important;
}

.print_A3 #site-title img {
	height: 45px !important;
}

.print_A3 .desc {
	font-size:14px !important;
	padding-top: 0px !important;
}

.print_A4 #site-title {
	padding:15px !important;
	font-size:20px !important;
	line-height: 25px !important;
}

.print_A4 #site-title img {
	height: 35px !important;
}

.print_A4 .desc {
	font-size:12px !important;
	padding-top: 0px !important;
}

.map_print_list {
	width:25%;
	float:right;
	position:relative;
	height:100%;
}

.print_A4 .map_print_list,
.print_A3 .map_print_list {
	width:30%;
}

.map_print_list .row {
	background-color:#C4BFB6;
	margin: 0px 0px 0px 0px;
	max-width: none;
}

.map_print_list .ll_list_box {
	margin:0;
}

.map_print_list .ll_list_line_box {
  	width:100%;
	padding-bottom:0;
}

.print_A3 .ll_list_header {
	font-size:18px;
	height:auto;
	line-height:40px;
}
	
.print_A4 .ll_list_header {
	font-size:14px;
	line-height:35px;
	height:auto;
}
.map_print_list .ll_list_line {
	padding-bottom:0;
	display:none;
}

.ll_list_two_column {
	width:50%;
	float:left;
}

.map_print_list .ll_list_line_content {
	padding-top:0;
	min-height:79px;
	margin-right:0;
}

.print_A4 .ll_list_line_content {
	min-height:30px;
}

.map_print_list .ll_list_foto {
	margin-right:0;
}

.print_A4 .ll_list_foto {
	display:none;
}

.map_print_list .ll_list_foto img{
	max-width:100px;
	max-height:79px;
}

.map_print_list .ll_list_title {
	margin-left:15px;
}

.print_A4 .ll_list_title {
	font-size:12px;
}

.ll_list_listno {
    width: 30px;
    float: left;
    text-align: center;
    line-height: 25px;
}

.ll-print-icon {
	font-size:18px;
	font-weight:bold;
	margin-top:-42px !important;
	margin-left:-15px !important;
	width: 30px !important;
	text-align: center;
}


	



